@import "bootstrap-sprockets";
@import "bootstrap"; 

body{
	padding-top: 120px;
}

header{
	.navbar-inverse{
		margin-bottom: 0;
		background-color:#64ffda;
		border-color: #1de9b6;
		padding-bottom: 10px;

		.navbar-header{ 
			.icon-bar{
				// background-color: #000;
			}
			.center{
			margin-left: -50px !important;
			}
		}
	}
	
	.subnav{

		ul.center{
			margin-left: -150px !important;
		}
	}
	.center{
		position: absolute;
		left: 50%;
		
	}	
}
.thumbnail{
	padding: 10px 10px;
	text-align: center;

	input.qty{
		width: 50px;
	}
}
.show_product{
	input.qty{
		width: 50px;
	}
}
.title{
	margin-bottom: 40px;
}
