<%= link_to "New Category", new_category_path %>

<h1>List of Categories</h1>

<% @categories.each do |c| %>
	<div>
		<p>Name: <%= c.name %></p>
		<p>Description: <%= c.description %></p>
	</div>
<% end %>
